.pop-appear {
  transform: scale(0);
}

.pop-appear.pop-appear-active {
  transform: scale(1);
  transition: transform .5s ease-in;
}
.flip {
  animation-name: flip;
  animation-duration: .7s;
  animation-iteration-count: 1;
}
@keyframes flip {
  0%   { }
  100%  {  transform: rotateY(360deg);}
}
