.wheel-animate{
background: yellow;
border-radius: 25%;
border-width: 10vh 2vw 10vh 2vw ;
border-style:solid;
border-color: black;
height: 40vh;
width: 20vw;
text-align: center;
animation-name:spin;
animation-duration:100ms;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
}


@keyframes spin{

from {padding-top:5vh;}
to {padding-top:25vh;}

}

.wheel{
background: yellow;
border-radius: 25%;
height: 50vh;
width: 30vw;
text-align: center;

}