.spinnerContainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  place-items: center;
}

.spinner {
  width: 50vw;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.spinnerText {
  height: 80%;
  width: 100%;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  margin-top: -14%;

  display: flex;
  align-items: center;

  color: #005191;
  font-weight: 600;
  font-size: 1.15em;
}

.spinnerButtons {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  align-self: end;
  width: 100%;
  height: 25%;
  text-align: center;
}

.spinnerButtons > button {
  background-color: #005191;
  color: white;
  cursor: pointer;

  height: 50%;
  width: 25%;
  border: none;

  border-radius: 5px;
  font-weight: 600;
  font-size: 1.15em;

  margin-top: 5%;
}

.spinnerButtons :nth-child(3) {
  background-color: #f30000;
}

.wheel-stationary {
  text-align: center;
  padding-top: 14%;
}

/*When the wheel is spinning*/
.wheel-animate {
  text-align: center;
  animation-name: spin;
  animation-duration: 150ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  z-index: 0;
}

.customButton {
  background-color: #fcb23d;
  color: white;
  cursor: pointer;

  border: none;
  padding: 1%;

  border-radius: 5px;
  font-weight: 600;
  font-size: 1.15em;
}

/**Sizing for ipad and mobile*/
@media only screen and (max-width: 1024px) {
  .wheel {
    height: 50vh;
    min-width: 50vw;
    border-width: 8vh 2vw 8vh 2vw;
  }
}

/*Sizing for laptop and Desktop*/
@media only screen and (min-width: 1024px) {
  .wheel {
    height: 50vh;
    width: 30vw;
    border-width: 10vh 2vw 10vh 2vw;
  }
  .red-light {
  }
}

/*TODO (white stripe for the button)*/
.white-stripe {
  border-radius: 75%;
  opacity: 50%;
  height: 10vh;
  width: 10vh;
  left: 100px;
  background: white;
  z-index: 2;
  position: relative;
}

@keyframes spin {
  from {
    padding-top: 2%;
  }
  to {
    padding-top: 48%;
  }
}

.button-slide {
  margin-left: 12.5vw;
}

.customButton.boothOption {
  color: #1f3d7d !important;
  border: 2px solid white;
  border-radius: 2px;
  padding: 1%;
  width: 17vw;
  height: 3.15em;
  margin-top: 0.8em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boothIcon {
  width: 25%;
  margin-left: 2%;
}

.boothOption > p {
  width: 75%;
}
