@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css";
@import "./style/normalize.css";

*, html, body, #root{
  padding: 0;
  margin: 0;
}
.svg{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1748' height='1748' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23759fff' stroke-width='70.2' stroke-linecap='round' %3E%3Cline stroke='%239de6dd' x1='639' y1='727' x2='590' y2='776'/%3E%3Cpolyline stroke='%2385aee9' points='586 717 888 415 981 512 279 1215 120 1056 607 569'/%3E%3Cline stroke='%2361b1ff' x1='935' y1='494' x2='776' y2='653'/%3E%3Cline stroke='%234fa7e9' x1='425' y1='624' x2='488' y2='560'/%3E%3Cpolyline stroke='%2352baf5' points='745 685 198 1232 -24 1010 226 759'/%3E%3Cline stroke='%2363bee8' x1='383' y1='666' x2='393' y2='655'/%3E%3Cline stroke='%234ab7e0' x1='416' y1='569' x2='438' y2='547'/%3E%3Cline stroke='%2344c7f2' x1='194' y1='664' x2='237' y2='622'/%3E%3Cpolyline stroke='%236dd9f8' points='374 547 35 886 194 1045 618 622'/%3E%3Cline stroke='%2368d8f4' x1='681' y1='685' x2='671' y2='696'/%3E%3Cline stroke='%236cdbf4' x1='724' y1='516' x2='649' y2='590'/%3E%3Cline stroke='%2369cddf' x1='334' y1='776' x2='501' y2='611'/%3E%3Cpolyline stroke='%238beaf6' points='556 746 226 1077 353 1204 1052 505 956 410 713 653'/%3E%3Cline stroke='%2368a8ad' x1='258' y1='727' x2='385' y2='600'/%3E%3Cline stroke='%2392eeef' x1='671' y1='505' x2='639' y2='537'/%3E%3Cpolyline stroke='%23a7e0dc' points='162 696-24 883 71 978 353 696'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: bottom right;
}
.nav-item{
  color: inherit;
}


.flip {
  animation-name: flip;
  animation-duration: .7s;
  animation-iteration-count: 1;
}


@keyframes flip {
  0%   { }
  100%  {  transform: rotateY(360deg);}
}

a, a:visited {
  color: inherit;
}
.full-height{
  min-height: 100vh;
}

.grid-center{
place-items: center;
}
.icon-md{
  width: 10em;
  height: auto;
  max-width: 30vw;
}
.txt-grey {
  color: grey;
}

.bg-green{
    background: #066;
}
.bold{
  font-weight: bolder;
}
.full{
  width: 100%;
}

.full-row{
   grid-column: span 2;
}

.pointer{
  cursor: pointer;
}
.justify-start{
  justify-self: start;
}



.justify-end{
  justify-self: end;
}

.justify-center {
  justify-self: center;
}

.txt-red{
  color: red;
}

.txt-green{
  color: #066;
}

.txt-md{
    font-size: 2em;
    padding: .3em;
}
.txt-xl{
    font-size: 15em;
    padding: 10px;
}

.grid-main{
  display: grid;
  grid-template-columns: auto 1fr;
}

.show{
}

.hide{
  position: absolute;
  left: -230px;

  transition: 300ms ease-out;
}
.full{

}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.selected{
  color: red!important;
}

.btn-round{
  border: 0;
  border-radius: 50%;
}
.capitalize{
   text-transform: capitalize;
}

.txt-italic {
  font-style: italic;
}

.gradient-heading{
  background: -webkit-linear-gradient(-150deg, #4fc3f7, dodgerblue);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 900;
line-height: 1;
font-size: 3em;
text-transform: uppercase;
color: #a483c5;
font-family: arial;
}

.top{
  position: absolute;
  top: 1em;
  right: 1em;
  font-weight: bold;
}
